* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --moreBtnColor: rgb(175, 59, 185);
    --submitBtnColor: blueviolet;
}

body {
    background: #d3d3d3;
}

.container {
    width: 90%;
    height: 100%;
    background: white;
    margin: 0 auto;
    box-shadow: 2px 4px 10px black;
}

header {
    background: yellow;
    display: flex;
    justify-content: space-between;
    padding: 2px 8px;
    flex-direction: column;
    align-items: center;
}

.logo {
    text-align: center;
    width: 100%;
    font-family: 'Otomanopee One', sans-serif;
}

nav {
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    color: #000;
}

header nav ul li a:hover {
    text-decoration: underline;
    background: #8ba013;
    color: #e7e7e9;
    cursor: pointer;
}

main {
    background-image: url('../images/cover.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    text-align: center;
    padding: 10px;
    color: #f5f5e0;
}

section p {
    font-size: 14px;
    color: rgb(77, 78, 78);
    line-height: 20px;
    letter-spacing: 1.5px;
}

section button {
    background: transparent;
    border: 1px solid var(--moreBtnColor);
    border-radius: 10px;
    padding: 2px 10px;
    color: var(--moreBtnColor);
    text-transform: capitalize;
    font-size: 12px;
    transition: 0.5s;
}

section button:hover {
    background: var(--moreBtnColor);
    color: white;
    cursor: pointer;
}

aside {
    padding: 10px;
}

.form-label {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    color: #e7e7e9;
}

.form-label input[type='password'], .form-label input[type='email'] {
    height: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 0 8px;
}

::placeholder {
    font-size: 10px;
    color: rgb(170, 170, 163);
}

.form-label button[type='submit'] {
    width: 80%;
    margin: 0 auto;
    background-color: var(--submitBtnColor);
    border: 1px solid var(--submitBtnColor);
    border-radius: 2px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.2px;
    padding: 2px 0;
    transition: 0.5s;
}

.form-label button[type='submit']:hover {
    background: transparent;
    color: var(--submitBtnColor);
    cursor: pointer;
}

footer {
    background: white;
    color: #8C8C8C;
    margin-top: 0.9rem;
    padding: 10px;
}

footer h5 {
    text-align: center;
    margin-bottom: 2px;
}

.icon-link ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-link ul li {
    list-style-type: none;
}

.icon-link ul li a {
    text-decoration: none;
    color: #8C8C8C;
}

.bi-facebook:hover {
    color: #4267B2;
}

.bi-github:hover {
    color: #4078c0;
}

.bi-twitter:hover {
    color: #1DA1F2;
}

.bi-linkedin:hover {
    color: #007dbb;
}

.bi-share-fill:hover {
    color: #1386D6;
}

.bi-three-dots:hover {
    color: #595260;
}





/* For Desktop view */
@media screen and (min-width: 600px) {

    header {
        flex-direction: row;
    }

    .logo {
        width: 30%;
        text-align: left;
    }

    nav {
        width: 70%;
    }

    header nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    main {
        height: 300px;
        display: flex;
        flex-direction: row;
        padding: 2rem 0;
        align-items: center;
    }

    section {
        width: 60%;
    }

    aside {
        width: 40%;
        margin-right: 10px;
        border-radius: 2px;
    }

    footer h5 {
        margin-bottom: 5px;
    }

    .icon-link {
        width: 60%;
        margin: 0 auto;
    }
}